html {
    position: relative;
    min-height: 100%;
}

body {
  
}

hr {
    padding: 0px;
    margin: 0px;    
}

.img-responsive{
  width:100%;
  margin-bottom: 5px;
}

.footer {
  border-top: 1px solid #a0a0a0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

#footer-container{
  margin-top: 0em;
}

.jumbotron{
  background: no-repeat center center;
  padding-bottom: 10%;
  padding-top: 10%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.icon{
  height:2em;
}

/* Underline From Left */
a {
    color:#a0a0a0;
    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
a:hover {
    color:#a0a0a0;
    text-decoration: None;
}
a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #a0a0a0;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
a:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}